$codewars-link: #5DADE2;
$link-hover: #34495E;
$bg-person: #F2F3F4;

.cv-projects-header {
  margin-bottom: 1vw;
}

.cv-projects-list {
  font-size: 20px;
}

.cv-projects-link {
  text-indent: 40px;
}

.cv-project-handler {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  height: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $link-hover;
  transition: .2s;
  margin: .5vw 0 0 20px;
  &:focus {
    outline: none;
  }
  &:hover {
    .cv-tooltip {
      display: inline;
    }
    background-color: $link-hover;
    color: #FFF;
    padding: 0 .5vw;
  }
}

.cv-project-handler-active {
  background-color: $link-hover;
  color: #FFF;
  padding: 0 .5vw;
  &:hover {
    .cv-tooltip {
      display: none;
    }
  }
}

.projects-link {
  text-decoration: none;
  color: $codewars-link;
  transition: .2s;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    opacity: .5;
  }
}

.cv-projects-main {
  display: flex;
  justify-content: space-between;
}

.cv-projects-info {
  width: 30%;
}

.description-placeholder {
  font-size: 40px;
}

.cv-projects-description-container {
  padding: 1vw;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
  background-color: $bg-person;
  border-radius: 5px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
