* {
  padding: 0;
  margin: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

$background: #212F3C;
$f-size: 1.1em;

body {
  background-color: $background;
  font-size: $f-size;
}

.app-wrapper {
  width: 1200px;
  margin: auto;
  color: #FFF;
  padding: 1vw;
}

@media (max-width: 1200px) {
  .app-wrapper {
    width: 100%;
    padding: 5%;
  }
}

@media (max-width: 767px) {
  .app-wrapper {
    padding: 5% 15%;
  }
}

@media (max-width: 500px) {
  .app-wrapper {
    padding: 5% 5%;
  }
}
