* {
  padding: 0;
  margin: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

$background: #212F3C;

body {
  background-color: $background;
}

.app-wrapper {
  width: 1024px;
  margin: auto;
  color: #FFF;
  padding: 1vw;
}
