//colors
$font: #fff;

$mainColor: #212F3C;
$blockColor: #2E4053;
$blockHoverColor: #2E4053;
$borderColor: #2E4053;
$variantColor: #283747;
$underlineColor: #95A5A6;
$overlayColor: #0008;

$categoryColor: #16A085;
$activeCategoryColor: #48C9B0;

$emptyMark: #85929E;
$failMark: #EC7063;
$successMark: #48C9B0;

//font-size
$f-size: 1.1em;

//Paddings

//Margins

