.cv-english {
  margin-bottom: 2vw;
}

.cv-english-title {
  margin-bottom: .5vw;
}

.cv-english-main {
  display: flex;
  justify-content: space-between;
}

.cv-english-tests-list {
  font-size: 20px;
}
