$category: #16A085;
$active: #48C9B0;

.header-category {
  width: 100%;
  display: flex;
  color: #FFF;
  border-radius: 5px;
}

.category-mode {
  padding: .5vw;
  text-align: center;
  flex-grow: 1;
  background-color: $category;
  &:first-child {
    border-radius: 5px 0 0 5px;
  }
  &:last-child {
    border-radius: 0 5px 5px 0;
  }
}

.category-mode.active-mode {
  background-color: $active;
}
