$link-hover: #34495E;
$info-text: #5D6D7E;

.cv-about-me, .cv-projects, .cv-english {
  margin-top: 2vw;
  border-radius: 5px;
  background-color: #FFF;
  padding: 1vw 2vw;
  width: 100%;
  filter: drop-shadow(0 0 2px black);
  color: $info-text;
}

.cv-about-me-header, .cv-projects-header, .cv-english-header {
  padding-bottom: .5vw;
  margin-bottom: .5vw;
  border-bottom: 2px solid $link-hover;
}

.cv-about-me-info {
  font-size: 20px;
  text-indent: 40px;
  text-align: justify;
}
